<h2 class="section-title">{{ .titles.about }}</h2>
<p>We would like to invite you to submit abstracts for the 3rd International conference on &ldquo;Seeking ways to eliminate TB in Asia&rdquo;.</p>
<p>The conference will be held online on the 10th of December 2020 due to the novel coronavirus pandemic. The online conference is being organized by the National Center for Communicable Diseases (NCCD) under the auspices of the Ministry of Health of Mongolia.</p>
<p>The purposes of the conference:</p>
<ul>
<li><p style="font-size:30 px">- exchange information about local TB situation and control practices of the participating countries</p></li>
<li><p style="font-size:30 px">- learn best practices from each other</p></li>
<li><p style="font-size:30 px">- collaborate in research and development</p></li>
</ul>
<p>We are anticipating participation from following countries: Mongolia, Russia, China, Japan, North Korea, South Korea and Taiwan.</p>
<p><strong>Conference sessions (preliminary): </strong></p>
<ul style="list-style-type: circle;">
<li><p style="font-size:30 px">Session I: Impact of COVID-19 pandemic on TB programs in Asia</p></li>
<li><p style="font-size:30 px">Session II: Emerging technologies in the field of TB control, diagnosis and treatment</p></li>
<li><p style="font-size:30 px">Session III: Systematic TB screening and DR-TB management</p></li>
</ul>
<p><strong>Deadline for abstract submission: 20 November 2020</strong></p>
<p>All abstracts will be eligible for oral presentation and will be published in the online conference abstracts book.</p>
<p>We will shortly send a link of the online conference for registration and abstract submission.</p>
<p><strong>Abstract requirements: </strong></p>
<ul>
<li><p style="font-size:30 px">Written in English</p></li>
<li><p style="font-size:30 px">Maximum of 250 words, excluding title, headings, and authors&rsquo; names and affiliations</p></li>
<li><p style="font-size:30 px">The body of the abstract must contain the following sections (Note: section names must be included in the abstract and written in CAPITAL LETTERS):</p>
<ul>
<li><p style="font-size:30 px">TITLE</p></li>
<li><p style="font-size:30 px">AUTHORS (last names and initials only, omit degrees), institutions, country; underline the name of the presenting author and e-mail address</p></li>
<li><p style="font-size:30 px">BACKGROUND</p></li>
<li><p style="font-size:30 px">DESIGN/METHODS or INTERVENTION/RESPONSE</p></li>
<li><p style="font-size:30 px">RESULTS (Give both numbers and proportions, where applicable)</p></li>
<li><p style="font-size:30 px">CONCLUSION</p></li>
</ul>
</li>
</ul>
<p>&nbsp;</p>
<p><strong>PLEASE RSVP ABOUT YOUR PARTICIPATION IN THE CONFERENCE BY 15 NOVEMBER 2020 </strong></p>
<p>Questions and inquiries: Dr Temuulen Enebish, Department of TB Surveillance and Research, NCCD, Ulaanbaatar, Mongolia.</p>
<p>E-mail: <a href="mailto:temuulen@gmail.com">temuulen@gmail.com</a></p>